.cardContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1vw;       
  padding: 1.5vw;
  border:  0.25vw solid #D8E2DC;
  height: auto;
  width: fit-content;
}
