.cardContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;       
  padding: 1.5vw;
  border: 1px solid #D8E2DC;
  height: auto;
  width: fit-content;
}
