.cardBody {
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px; /* Espaço entre a parte de cima e o rodapé */
    width: 100%;
}

/* Nova classe que segura (Texto + Valor) e (Ícone) */
.linhaSuperior {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Importante: Alinha tudo no topo */
    width: 100%;
}

/* Coluna que empilha Título e Valor sem gap gigante */
.infoEsquerda {
    display: flex;
    flex-direction: column;
    gap: 20px; /* O Título e o Valor ficam bem pertinho agora */
}

.titulo {
    color: #9D8189;
    font-size: 14px;
    font-weight: 500;
}

.valorGigante {
    font-size: 32px;
    font-weight: 700;
    color: #6D6875;
    line-height: 1.1; /* DICA: Reduz a altura da linha para ficar mais compacto */
}

.bolinhaIcone {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Tamanhos ajustados */
    width: 48px; 
    height: 48px;
    border-radius: 50%; /* Garante bolinha perfeita */
    color: #FFF;
    background-color: #FFCAD4;
    font-size: 24px;
    
    /* Isso garante que o ícone não estique */
    flex-shrink: 0; 
}

.rodape {
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 12px;
    margin-top: 5px; /* Um respiro extra acima do rodapé */
}

.verde, .vermelho {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 900;
}

.verde { color: #4CAF50; }
.vermelho { color: #F44336; }

.textoCinza {
    font-size: 14px;
    color: #9D8189;
}