.cardBody {
    height: fit-content;
    padding: 1.2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5vh; /* Espaço entre a parte de cima e o rodapé */
}

/* Nova classe que segura (Texto + Valor) e (Ícone) */
.linhaSuperior {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Importante: Alinha tudo no topo */
    width: 16.5vw;
}

/* Coluna que empilha Título e Valor sem gap gigante */
.infoEsquerda {
    display: flex;
    flex-direction: column;
    gap: 2vh; /* O Título e o Valor ficam bem pertinho agora */
}

.titulo {
    color: #9D8189;
    font-size: 0.9vw;
    font-weight: 500;
}

.valorGigante {
    font-size: 2vw;
    font-weight: 700;
    color: #6D6875;
    line-height: 1.1; /* DICA: Reduz a altura da linha para ficar mais compacto */
}

.bolinhaIcone {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Tamanhos ajustados */
    width: 3vw; 
    height: 3vw;
    border-radius: 50%; /* Garante bolinha perfeita */
    color: #FFF;
    background-color: #FFCAD4;
    font-size: 1.5vw;
    
    /* Isso garante que o ícone não estique */
    flex-shrink: 0; 
}

.rodape {
    display: flex;
    align-items: center;
    font-size: 1vw;
    gap: 0.75vw;
    margin-top: 0.5vh; /* Um respiro extra acima do rodapé */
}

.verde, .vermelho {
    display: flex;
    align-items: center;
    gap: 0.4vw;
    font-weight: 900;
}

.verde { color: #4CAF50; }
.vermelho { color: #F44336; }

.textoCinza {
    font-size: 0.85vw;
    color: #9D8189;
}