.botaoBranco, .botaoRosa{
    padding: 0 24px;
    white-space: nowrap;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none; 
    border-radius: 8px; 
    cursor: pointer;
}

.botaoRosa{
    background-color: #F4ACB7;
    color: #FFFFFF;
}
.botaoBranco{
    background-color: #FFFFFF;
    color: #9D8189;
}
